/* src/App.css */
.App {
  text-align: center;
  padding: 50px;
}

h1 {
  color: #333;
}

.instructions {
  margin: 20px 0;
  font-size: 16px;
  color: #666;
}

.file-input {
  margin: 20px 0;
}

.language-select {
  margin: 20px 0;
  padding: 10px;
  font-size: 16px;
}

.buttons {
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

h2 {
  margin-top: 40px;
}

.extracted-text {
  white-space: pre-wrap; /* Preserve whitespace formatting */
  text-align: left;
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
